-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: barangay-db.c1ga824sw14r.ap-southeast-1.rds.amazonaws.com    Database: barangayDB
-- ------------------------------------------------------
-- Server version	8.4.4

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */
;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */
;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */
;
/*!50503 SET NAMES utf8mb4 */
;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */
;
/*!40103 SET TIME_ZONE='+00:00' */
;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */
;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */
;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */
;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */
;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `admin` (
    `id` int NOT NULL AUTO_INCREMENT,
    `username` varchar(255) NOT NULL,
    `email` varchar(255) NOT NULL,
    `password` varchar(255) NOT NULL,
    `access_level` tinyint NOT NULL DEFAULT '1',
    `archive` enum('YES', 'NO') NOT NULL DEFAULT 'NO',
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `archive_events`
--

DROP TABLE IF EXISTS `archive_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `archive_events` (
    `id` int NOT NULL AUTO_INCREMENT,
    `image_url` varchar(255) DEFAULT NULL,
    `event_name` varchar(100) NOT NULL,
    `event_date` date NOT NULL,
    `time_start` time NOT NULL,
    `time_end` time NOT NULL,
    `venue` varchar(255) NOT NULL,
    `description` text,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 32 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `archive_household_members`
--

DROP TABLE IF EXISTS `archive_household_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `archive_household_members` (
    `id` int NOT NULL,
    `household_id` int DEFAULT NULL,
    `last_name` varchar(100) DEFAULT NULL,
    `first_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `middle_name` varchar(100) DEFAULT NULL,
    `suffix` varchar(10) DEFAULT NULL,
    `birth_place` varchar(100) DEFAULT NULL,
    `birth_date` date DEFAULT NULL,
    `sex` enum('Male', 'Female') DEFAULT NULL,
    `civil_status` enum(
        'Single',
        'Married',
        'Widowed',
        'Separated',
        'Divorced'
    ) NOT NULL,
    `citizenship` varchar(100) DEFAULT NULL,
    `occupation` varchar(100) DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `fk_archive_household` (`household_id`),
    CONSTRAINT `fk_archive_member_to_household` FOREIGN KEY (`household_id`) REFERENCES `archive_households` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `archive_households`
--

DROP TABLE IF EXISTS `archive_households`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `archive_households` (
    `id` int NOT NULL,
    `head_last_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `head_first_name` varchar(100) DEFAULT NULL,
    `head_middle_name` varchar(100) DEFAULT NULL,
    `head_suffix` varchar(10) DEFAULT NULL,
    `house_unit_no` varchar(100) DEFAULT NULL,
    `street_name` varchar(100) DEFAULT NULL,
    `subdivision` varchar(100) DEFAULT NULL,
    `birth_place` varchar(255) DEFAULT NULL,
    `birth_date` date DEFAULT NULL,
    `sex` enum('Male', 'Female') NOT NULL,
    `civil_status` enum(
        'Single',
        'Married',
        'Widowed',
        'Separated',
        'Divorced'
    ) NOT NULL,
    `citizenship` varchar(100) DEFAULT NULL,
    `occupation` varchar(100) DEFAULT NULL,
    `email_address` varchar(150) DEFAULT NULL,
    `status` enum(
        'pending',
        'approved',
        'rejected',
        'for interview'
    ) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT 'pending',
    `created_at` timestamp NULL DEFAULT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `backup_events`
--

DROP TABLE IF EXISTS `backup_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `backup_events` (
    `id` int NOT NULL AUTO_INCREMENT,
    `image_url` varchar(255) DEFAULT NULL,
    `event_name` varchar(100) NOT NULL,
    `event_date` date NOT NULL,
    `time_start` time NOT NULL,
    `time_end` time NOT NULL,
    `venue` varchar(255) NOT NULL,
    `description` text,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `original_id` int NOT NULL,
    `backup_type` enum('create', 'update', 'delete') NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 38 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `backup_requests`
--

DROP TABLE IF EXISTS `backup_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `backup_requests` (
    `id` int NOT NULL AUTO_INCREMENT,
    `last_name` varchar(50) DEFAULT NULL,
    `middle_name` varchar(50) DEFAULT NULL,
    `first_name` varchar(50) DEFAULT NULL,
    `suffix` varchar(10) DEFAULT NULL,
    `sex` enum('Male', 'Female') DEFAULT NULL,
    `birthday` date DEFAULT NULL,
    `contact_no` varchar(15) DEFAULT NULL,
    `email` varchar(100) DEFAULT NULL,
    `address` text,
    `type_of_certificate` varchar(50) DEFAULT NULL,
    `purpose_of_request` text,
    `number_of_copies` int DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `status` varchar(20) NOT NULL DEFAULT 'pending',
    `original_id` int DEFAULT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 33 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `household_members`
--

DROP TABLE IF EXISTS `household_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `household_members` (
    `id` int NOT NULL AUTO_INCREMENT,
    `household_id` int DEFAULT NULL,
    `last_name` varchar(100) DEFAULT NULL,
    `first_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `middle_name` varchar(100) DEFAULT NULL,
    `suffix` varchar(10) DEFAULT NULL,
    `birth_place` varchar(100) DEFAULT NULL,
    `birth_date` date DEFAULT NULL,
    `sex` enum('Male', 'Female') DEFAULT NULL,
    `civil_status` enum(
        'Single',
        'Married',
        'Widowed',
        'Separated',
        'Divorced'
    ) NOT NULL,
    `citizenship` varchar(100) DEFAULT NULL,
    `occupation` varchar(100) DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `fk_household` (`household_id`),
    CONSTRAINT `fk_household` FOREIGN KEY (`household_id`) REFERENCES `households` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 14 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `households`
--

DROP TABLE IF EXISTS `households`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `households` (
    `id` int NOT NULL AUTO_INCREMENT,
    `head_last_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `head_first_name` varchar(100) DEFAULT NULL,
    `head_middle_name` varchar(100) DEFAULT NULL,
    `head_suffix` varchar(10) DEFAULT NULL,
    `house_unit_no` varchar(100) DEFAULT NULL,
    `street_name` varchar(100) DEFAULT NULL,
    `subdivision` varchar(100) DEFAULT NULL,
    `birth_place` varchar(255) DEFAULT NULL,
    `birth_date` date DEFAULT NULL,
    `sex` enum('Male', 'Female') NOT NULL,
    `civil_status` enum(
        'Single',
        'Married',
        'Widowed',
        'Separated',
        'Divorced'
    ) NOT NULL,
    `citizenship` varchar(100) DEFAULT NULL,
    `occupation` varchar(100) DEFAULT NULL,
    `email_address` varchar(150) DEFAULT NULL,
    `status` enum(
        'pending',
        'approved',
        'rejected',
        'for interview'
    ) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT 'pending',
    `created_at` timestamp NULL DEFAULT(now()),
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 13 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `rbi`
--

DROP TABLE IF EXISTS `rbi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `rbi` (
    `id` int NOT NULL AUTO_INCREMENT,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `last_name` varchar(50) DEFAULT NULL,
    `first_name` varchar(50) DEFAULT NULL,
    `middle_name` varchar(50) DEFAULT NULL,
    `suffix` varchar(50) DEFAULT NULL,
    `house_unit_no` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `street_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `subdivision` varchar(100) DEFAULT NULL,
    `birth_place` varchar(100) DEFAULT NULL,
    `birth_date` date DEFAULT NULL,
    `civil_status` enum(
        'Single',
        'Married',
        'Divorced',
        'Widowed'
    ) DEFAULT NULL,
    `sex` enum('Male', 'Female') CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
    `citizenship` varchar(50) DEFAULT NULL,
    `occupation` varchar(100) DEFAULT NULL,
    `email_address` varchar(100) DEFAULT NULL,
    `status` varchar(20) NOT NULL DEFAULT 'pending',
    `household_id` int DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `fk_rbi_household` (`household_id`)
) ENGINE = InnoDB AUTO_INCREMENT = 11 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Table structure for table `requests`
--

DROP TABLE IF EXISTS `requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `requests` (
    `id` int NOT NULL AUTO_INCREMENT,
    `last_name` varchar(50) DEFAULT NULL,
    `middle_name` varchar(50) DEFAULT NULL,
    `first_name` varchar(50) DEFAULT NULL,
    `suffix` varchar(10) DEFAULT NULL,
    `sex` enum('Male', 'Female') DEFAULT NULL,
    `birthday` date DEFAULT NULL,
    `contact_no` varchar(15) DEFAULT NULL,
    `email` varchar(100) DEFAULT NULL,
    `address` text,
    `type_of_certificate` varchar(50) DEFAULT NULL,
    `purpose_of_request` text,
    `number_of_copies` int DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `status` varchar(20) NOT NULL DEFAULT 'pending',
    PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 48 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */
;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */
;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */
;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */
;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */
;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */
;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */
;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */
;

-- Dump completed on 2025-05-18 17:54:24